<div class="well">
    <form>
    <fieldset>
        <div id="legend" class="">
            <legend class="">Create Project</legend>
        </div>
        <div class="control-group">

            <!-- Text input-->
            <label class="control-label" for="input01">Title</label>
            <div class="controls">
                <input type="text" placeholder="placeholder" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">

            <!-- Textarea -->
            <label class="control-label">Description</label>
            <div class="controls">
                <div class="textarea">
                    <textarea type="" class="span5" rows="5"> </textarea>
                </div>
            </div>
        </div>

        <div class="control-group">

            <!-- Prepended checkbox -->
            <label class="control-label">Location</label>
            <div class="controls pull-left">
                <div class="input-prepend">
              <span class="add-on">
                <label class="checkbox">
                    <input type="checkbox" class="">
                </label>
              </span>
                    <input class="span2" placeholder="placeholder" type="text" value="Dhaka">
                </div>
            </div>
            <div class="controls pull-left" style="margin-left: 10px;">
                <div class="input-prepend">
              <span class="add-on">
                <label class="checkbox">
                    <input type="checkbox" class="">
                </label>
              </span>
                    <input class="span2" placeholder="placeholder" type="text" value="Chittagong">
                </div>
            </div>

            <div class="controls pull-left">
                <div class="input-prepend">
              <span class="add-on">
                <label class="checkbox">
                    <input type="checkbox" class="">
                </label>
              </span>
                    <input class="span2" placeholder="placeholder" type="text" value="Barisal">
                </div>
            </div>
            <div class="controls pull-left" style="margin-left: 10px;">
                <div class="input-prepend">
              <span class="add-on">
                <label class="checkbox">
                    <input type="checkbox" class="">
                </label>
              </span>
                    <input class="span2" placeholder="placeholder" type="text" value="Khulna">
                </div>
            </div>

            <div class="controls pull-left">
                <div class="input-prepend">
              <span class="add-on">
                <label class="checkbox">
                    <input type="checkbox" class="">
                </label>
              </span>
                    <input class="span2" placeholder="placeholder" type="text" value="Rangpur">
                </div>
            </div>
            <div class="controls pull-left" style="margin-left: 10px;">
                <div class="input-prepend">
              <span class="add-on">
                <label class="checkbox">
                    <input type="checkbox" class="">
                </label>
              </span>
                    <input class="span2" placeholder="placeholder" type="text" value="Sylhet">
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="control-group">

            <!-- Textarea -->
            <label class="control-label">Project Date</label>
            <div class="controls pull-left">
                <div class="textarea">
                    <input type="text" class="datepicker input-medium" id="start_date" placeholder="Start">
                </div>
            </div>
            <div class="controls pull-left" style="margin-left: 10px;">
                <div class="textarea">
                    <input type="text" class="datepicker input-medium" id="end_date" placeholder="End">
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="control-group">

            <!-- Textarea -->
            <label class="control-label">Add Members</label>
            <div class="controls">
                <div class="textarea">
                    <input type="text" class="input-xlarge" id="members">
                </div>
            </div>
        </div>

        <div class="control-group">

            <!-- Textarea -->
            <label class="control-label"></label>
            <div class="controls">
                <div class="textarea">
                    <input type="button" value="Save Project" class="btn btn-primary btn-small">
                    <input type="button" value="Cancel" class="btn btn-danger btn-small">
                </div>
            </div>
        </div>

    </fieldset>
</form>
</div>