<style type="text/css">
    #member-list span{
        float:left;
    }
    #member-list span a.delete-member{
        display: block;
    }
</style>
<div class="well">
    <h4 class="text-warning">Rural Sanitation Program in All over bangladesh under UNDP</h4>
    <ul style="list-style: none; margin: 10px 0px;">
        <li><strong>Category: </strong> Sanitation</li>
        <li><strong>Total Budget: </strong> $16000</li>
        <li><strong>Last Date of Submission: </strong> 26th Dec, 2012</li>
        <li><strong>Project Starts: </strong> 1st Feb, 2013</li>
        <li><strong>Project Duration: </strong> 2 years</li>
    </ul>
    <p>'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words:
        'Yes, we went to school in the sea, though you mayn't believe it—'
        'I never said I didn't!' interrupted Alice.
        'You did,' said the Mock Turtle.</p>
    <div>
        <span class="badge badge-success">Posted 2012-08-02 20:47:04</span><div class="pull-right"><span class="label">alice</span> <span class="label">story</span> <span class="label">blog</span> <span class="label">personal</span></div>
    </div>
    <hr>
    <h4 class="text-warning">Project Documents </h4>

    <div class="clearfix"></div>

    <div id="member-list">
        <span style="text-align:center"><img src="/img/pdf.png" width="80px" height="80px" alt="" style="margin:5px;"><a href="" class="delete-member">Download</a></span>
        <span style="text-align:center"><img src="/img/word.png" width="80px" height="80px" alt="" style="margin:5px;"><a href="" class="delete-member">Download</a></span>
    </div>
    <div class="clearfix"></div>
    <hr/>
    <div class="apply-now">

        <form action="" method="POST">
            <fieldset>
                <h4 class="text-warning">Submit Your Proposal </h4>
                <div class="control-group">
                    <label class="control-label">Upload documents</label>

                    <!-- File Upload -->
                    <div class="controls">
                        <input class="input-file" id="fileInput" type="file">
                    </div>
                </div>

                <div class="control-group">

                    <!-- Textarea -->
                    <label class="control-label">Short Description</label>
                    <div class="controls">
                        <div class="textarea">
                            <textarea type="" class="span4" rows="4" placeholder="Write a short details about your proposal"> </textarea>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label"></label>

                    <!-- Button -->
                    <div class="controls">
                        <button class="btn btn-success">Apply</button>
                        <button class="btn btn-danger">Cancel</button>
                    </div>
                </div>

            </fieldset>
        </form>

    </div>

    <div class="clearfix"></div>
    <hr>
</div>