<style type="text/css">
    #member-list span{
        float:left;
    }
    #member-list span a.delete-member{
        display: block;
    }
</style>

<h4>Name of the NGO</h4>

<p>There's a lot going on in Washington DC. Every weekend, the DCist has new suggestions for places to go and things to do. Explore this weekend's picks and see what's going on near you. Picks from DCist.com.</p>

<h5>Member of the NGO's</h5>

<div id="member-list">
    <span style="text-align:center"><img src="http://placehold.it/80x80" alt="" style="margin:5px;"><br/>Asad</span>
    <span style="text-align:center"><img src="http://placehold.it/80x80" alt="" style="margin:5px;"><br/>Masud</span>
    <span style="text-align:center"><img src="http://placehold.it/80x80" alt="" style="margin:5px;"><br/>Raju</span>
    <span style="text-align:center"><img src="http://placehold.it/80x80" alt="" style="margin:5px;"><br/>Noman</span>
</div>
<div class="clearfix"></div>