<div class="well">
    <h5>NGO Summary</h5>
    <ul style="list-style: none; margin: 10px 0px;">
        <li><strong>Category: </strong> Sanitation</li>
        <li><strong>Total Budget: </strong> $16000</li>
        <li><strong>Last Date of Submission: </strong> 26th Dec, 2012</li>
        <li><strong>Project Starts: </strong> 1st Feb, 2013</li>
        <li><strong>Project Duration: </strong> 2 years</li>
        <li><strong>Status: </strong>&nbsp;<span class=" label label-important">Awaiting Approval</span> </li>
    </ul>
    <div id="member-list">
        <span style="text-align:center"><img src="/img/pdf.png" width="35px" height="35px" alt="" style="margin:5px;"><a href="" class="delete-member">Download</a></span>
        <span style="text-align:center"><img src="/img/word.png" width="35px" height="35px" alt="" style="margin:5px;"><a href="" class="delete-member">Download</a></span>
    </div>
    <div class="clearfix"></div>
    <a href="javascript:void(0)" class="btn btn-success">Approved</a>
</div>