<style type="text/css">
    #member-list span{
        float:left;
    }
    #member-list span a.delete-member{
        display: block;
    }
</style>
<div class="well">
    <div class="tab-content">
        <div class="tab-pane" id="A">
            <h4 class="text-warning">Bangladesh Sanitation</h4>

            <p>'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words:
                'Yes, we went to school in the sea, though you mayn't believe it—'
                'I never said I didn't!' interrupted Alice.
                'You did,' said the Mock Turtle.</p>
            <div>
                <span class="badge badge-success">Posted 2012-08-02 20:47:04</span><div class="pull-right"><span class="label">alice</span> <span class="label">story</span> <span class="label">blog</span> <span class="label">personal</span></div>
            </div>
            <hr>
            <h4 class="text-warning">Project Members <a id="assignMember" class=" pull-right btn btn-success btn-mini" href="#add-member">Add Member</a></h4>
            <div class="clearfix"></div>

            <div class="well" id="assign-member-form" style="display: none;">
                <input type="text" placeholder="Enter member name" name="member_name" class="input-medium">
                <a href="javascript:void(0)" class="btn-small btn btn-success" style="margin-top: -7px;" id="assign-member" >+ Assign</a>
                <a href="javascript:void(0)" class="btn-small btn btn-danger" style="margin-top: -7px;" id="cancel-assign-member">cancel</a>
            </div>

            <div class="clearfix"></div>
            <div id="member-list">
                <span style="text-align:center"><img src="http://placehold.it/80x80" alt="" style="margin:5px;"><br/>Asad<a href="" class="delete-member">Delete</a></span>
                <span style="text-align:center"><img src="http://placehold.it/80x80" alt="" style="margin:5px;"><br/>Masud<a href="" class="delete-member">Delete</a></span>
                <span style="text-align:center"><img src="http://placehold.it/80x80" alt="" style="margin:5px;"><br/>Raju<a href="" class="delete-member">Delete</a></span>
                <span style="text-align:center"><img src="http://placehold.it/80x80" alt="" style="margin:5px;"><br/>Noman<a href="" class="delete-member">Delete</a></span>
            </div>
            <div class="clearfix"></div>
            <hr>
        </div>

        <div class="tab-pane" id="B">
            <h4 class="text-warning">Dhaka Sanitation</h4>
            <p><span class="label label-success" ><i class="icon-signal" style="margin-right:3px;"></i>WIRELESS</span> <span class="label label-info" >50m</span> <span class="label" >DOGS</span><span class="badge badge-success pull-right" style="padding:5px;margin-right:5px;">70€ - 150€</span></p>
            <img src="http://placehold.it/80x80" alt="" style="margin-right:5px;">
            <img src="http://placehold.it/80x80" alt="" style="margin-right:5px;"><img src="http://placehold.it/80x80" alt="" style="margin-right:5px;"><img src="http://placehold.it/80x80" alt="" style="margin-right:5px;"><img src="http://placehold.it/80x80" alt="">
        </div>
        <div class="tab-pane" id="C">
            <h4 class="text-warning">Comilla Sanitation</h4>
            <p><span class="label label-success" ><i class="icon-signal" style="margin-right:3px;"></i>WIRELESS</span> <span class="label label-info" >400m</span> <span class="label" >DOGS</span><span class="badge badge-success pull-right" style="padding:5px;margin-right:5px;">20€ - 80€</span></p>
            <img src="http://placehold.it/80x80" alt="" style="margin-right:5px;"><img src="http://placehold.it/80x80" alt="" style="margin-right:5px;"><img src="http://placehold.it/80x80" alt="" style="margin-right:5px;"><img src="http://placehold.it/80x80" alt="" style="margin-right:5px;"><img src="http://placehold.it/80x80" alt="">
        </div>
    </div>
</div>