<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Project Name</title>

    {% stylesheets
    '../app/Resources/css/bootstrap.min.css'
    '../app/Resources/css/datepicker.css'
    '../app/Resources/css/select2.css'
    '../app/Resources/css/admin.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% javascripts
    '../app/Resources/js/jquery-1.8.2.min.js'
    '../app/Resources/js/jquery.validate.min.js'
    '../app/Resources/js/underscore-min.js'
    '../app/Resources/js/bootstrap.min.js'
    '../app/Resources/js/bootstrap-datepicker.js'
    '../app/Resources/js/select2.js'
    '../app/Resources/js/Templates.js'
    '../app/Resources/js/admin.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="http://bootsnipp.com/"><i class="icon-home"></i> Home</a></li>
                    <ul class="nav">
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-list-alt"></i> Activity <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class=""><a href="http://bootsnipp.com/resources"><i class="icon-share"></i> List of Resources</a></li>
                                <li class=""><a href="http://bootsnipp.com/forms"><i class="icon-tasks"></i> Form Builder</a></li>
                            </ul>
                        </li>

                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-list-alt"></i> Members <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class=""><a href="javascript:void(0);" id="view-member-list"><i class="icon-list"></i> Member List</a></li>
                                <li class=""><a href="javascript:void(0)" id="create-member"><i class="icon-plus"></i> Add Member</a></li>
                            </ul>
                        </li>

                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-list-alt"></i> EOI <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class=""><a href="javascript:void(0);" id="view-eoi-list"><i class="icon-list"></i> EOI List</a></li>
                                <li class=""><a href="javascript:void(0)" id="view-eoi-archive"><i class="icon-plus"></i> Archive</a></li>
                            </ul>
                        </li>
                    </ul>

                </ul>
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
                        <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                            <form method="post" action="/ngo" accept-charset="UTF-8">
                                <input style="margin-bottom: 15px;" type="text" placeholder="Username" id="username" name="username">
                                <input style="margin-bottom: 15px;" type="password" placeholder="Password" id="password" name="password">
                                <input style="float: left; margin-right: 10px;" type="checkbox" name="remember-me" id="remember-me" value="1">
                                <label class="string optional" for="user_remember_me"> Remember me</label>
                                <input class="btn btn-small btn-primary" type="submit" id="sign-in" value="Sign In">

                            </form>
                        </div>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% block content %}
        {% endblock %}
    <hr />

    <footer>
        <p>&copy;copyright 2012</p>
    </footer>

</div> <!-- /container -->
<script type="text/javascript">
    $(document).ready(function(){

        Admin.init();
    });
</script>

</body>
</html>
