{% extends 'ProjectBundleAdminBundle::layout.html.twig' %}

{% block content %}
    <div class="span12">

        <h2>NGO Dashboard</h2>

        <div class="span3" style="margin-left: 0px; width: 240px;">
            <div class="well">

                <div class="row">

                    <div class="span6">
                        <h4 class="label label-success" style="width: 200px;margin-left: -5px;padding: 5px;">Current Projects</h4>
                        <div class="tabbable tabs-left">
                            <ul id="project-list" class="nav nav-tabs" style="padding-top:15px;margin-left:-20px; width: 239px;">
                                <li><a href="#A" data-toggle="tab">Bangladesh Sanitation</a></li>
                                <li><a href="#B" data-toggle="tab">Dhaka Sanitation</a></li>
                                <li><a href="#C" data-toggle="tab">Comilla Sanitation</a></li>
                            </ul>
                        </div> <!-- /tabbable -->

                        <h5 class="label label-important" style="width: 200px;margin-left: -5px;padding: 5px;">Upcomming Projects</h5>
                        <div class="tabbable tabs-left">
                            <ul id="upcomming-project-list" class="nav nav-tabs" style="padding-top:15px;margin-left:-20px; width: 239px;">
                                <li><a href="#D" data-toggle="tab">Barisal Sanitation</a></li>
                                <li><a href="#E" data-toggle="tab">Bogora Sanitation</a></li>
                                <li><a href="#F" data-toggle="tab">Sylhet Sanitation</a></li>
                            </ul>
                        </div> <!-- /tabbable -->

                        <h5 class="label label-warning" style="width: 200px;margin-left: -5px;padding: 5px;">Completed Projects</h5>
                        <div class="tabbable tabs-left">
                            <ul id="completed-project-list" class="nav nav-tabs" style="padding-top:15px;margin-left:-20px; width: 239px;">
                                <li><a href="#D" data-toggle="tab">Barisal Sanitation</a></li>
                                <li><a href="#E" data-toggle="tab">Bogora Sanitation</a></li>
                                <li><a href="#F" data-toggle="tab">Sylhet Sanitation</a></li>
                            </ul>
                        </div> <!-- /tabbable -->

                    </div>
                </div>

            </div>
        </div>
        <div class="span5" style="width: 430px;" id="middle-container">
            <h3>Expression of Interest</h3>
            <div class="proposal">
                <h5>Alice in Wonderland, part dos</h5>
                <p>
                    'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle.
                </p>
                <div>
                    <span class="badge badge-success">Posted 2012-08-02 20:47:04</span>
                    <div class="pull-right"><span class="label"><a href="javascript:void(0);" class="show-proposal-details">View Details</a></span></div>
                </div>
            </div>
            <hr/>

            <div class="proposal">
                <h5>Alice in Wonderland, part dos</h5>
                <p>
                    'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle.
                </p>
                <div>
                    <span class="badge badge-success">Posted 2012-08-02 20:47:04</span>
                    <div class="pull-right"><span class="label"><a href="javascript:void(0);" class="show-proposal-details">View Details</a></span></div>
                </div>
            </div>
            <hr/>

        </div><!-- midlle container -->
        <div class="span3">
            <div class="well" style="padding: 10px;">
                <h4 class="text-info">Project Activity</h4>
                <div style=" border-bottom: 1px dotted #ff8c00; margin-bottom: 5px;">
                    <span class="label pull-left label-important" style="margin-right: 5px;">SMS</span>
                    <span class="label pull-left label-important">18-11-2012 10:12 AM</span>&nbsp;
                    <p class="">Message body goes here</p>
                </div>

                <div style=" border-bottom: 1px dotted #ff8c00; margin-bottom: 5px;">
                    <span class="label pull-left label-info" style="margin-right: 5px;">twitter</span>&nbsp;
                    <span class="label pull-left label-info" style="margin-right: 5px;">18-11-2012 09:12 AM</span>&nbsp;
                    <p>lorem ipsum test writting as activity update</p>
                </div>

                <div style=" border-bottom: 1px dotted #ff8c00; margin-bottom: 5px;">
                    <span class="label pull-left label-important" style="margin-right: 5px;">SMS</span>&nbsp;
                    <span class="label pull-left label-important" style="margin-right: 5px;">18-11-2012 10:12 AM</span>&nbsp;
                    <p class="">lorem ipsum test writting as activity update for bangladesh.</p>
                </div>

                <div style=" border-bottom: 1px dotted #ff8c00; margin-bottom: 5px;">
                    <span class="label pull-left label-info" style="margin-right: 5px;">twitter</span>&nbsp;
                    <span class="label pull-left label-info">18-11-2012 10:12 AM</span>&nbsp;
                    <p>Message body goes here</p>
                </div>

                <div style=" border-bottom: 1px dotted #ff8c00; margin-bottom: 5px;">
                    <span class="label pull-left label-important" style="margin-right: 5px;">SMS</span>&nbsp;
                    <span class="label pull-left label-important">18-11-2012 10:12 AM</span>&nbsp;
                    <p class="">Message body goes here</p>
                </div>

                <div style=" border-bottom: 1px dotted #ff8c00; margin-bottom: 5px;">
                    <span class="label pull-left label-info" style="margin-right: 5px;">twitter</span>&nbsp;
                    <span class="label pull-left label-info">18-11-2012 10:12 AM</span>&nbsp;
                    <p>Message body goes here</p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}