{% extends 'ProjectBundleCoreBundle::layout_public.html.twig' %}

{% block content %}
    <style type="text/css">
        .select2{
            margin-right: 10px;
        }
    </style>
    <div class="span12" >

    <div class="span12" style="margin-left: 0px;" id="right-container">
        <div class="well" style="text-align: center;">
            <h4 class="text-info">Search NGO and NGO Activity</h4>

            <form>
                <fieldset>
                    <div class="control-group pull-left">

                        <div class="controls">
                            <select class="input-medium select2">
                                <option>Select NGO</option>
                                <option>Shiree</option>
                                <option>Alokito</option>
                                <option>Asha</option>
                                <option>Shorjer Hasi</option>
                                <option>Alokito Muk</option>
                                <option>Unnoyon</option>
                            </select>
                        </div>

                    </div>

                    <div class="control-group pull-left">

                        <!-- Select Basic -->
                        <div class="controls">
                            <select class="input-medium select2">
                                <option>Select Division</option>
                                <option>Dhaka</option>
                                <option>Chittagong</option>
                                <option>Rajshahi</option>
                                <option>Barishal</option>
                            </select>
                        </div>

                    </div>

                    <div class="control-group pull-left">

                        <!-- Select Basic -->
                        <div class="controls">
                            <select class="input-medium select2">
                                <option>Select District</option>
                                <option>Gazipur</option>
                                <option>Jaidevpur</option>
                                <option>Norshingdi</option>
                                <option>Bhoirob</option>
                            </select>
                        </div>

                    </div>

                    <div class="control-group pull-left">

                        <!-- Select Basic -->
                        <div class="controls">
                            <select class="input-medium select2">
                                <option>Select Upozila</option>
                                <option>Hajipara</option>
                                <option>Goforgao</option>
                                <option>Ghoramara</option>
                                <option>Talibazar</option>
                            </select>
                        </div>

                    </div>

                    <div class="control-group pull-left">

                        <!-- Select Basic -->
                        <div class="controls">
                            <select class="input-medium select2">
                                <option>Select Union Porishod</option>
                                <option>Union 1</option>
                                <option>Union 2</option>
                                <option>Union 4</option>
                                <option>Union 5</option>
                            </select>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                    <div class="control-group">
                        <!-- Button -->
                        <div class="controls">
                            <button class="btn btn-success"><i class="icon-search"></i>&nbsp;Search</button>
                            <button class="btn btn-danger">Clear</button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>
    </div>

    <div class="clearfix"></div>
    <div class="well span8" style="margin-left:0px; " id="middle-container">
        <iframe width='620' height='600' frameBorder='0' src='http://a.tiles.mapbox.com/v3/loosemonkies.map-raehzk2w.html#7/24.076559120295382/90.5377103058755'></iframe>
    </div><!-- midlle container -->

    <div class="span3">
        <div class="well" style="padding: 10px; width: 240px;">
            <h4 class="text-info">Project Activity</h4>
            <div style="height: 583px; overflow: scroll;">
                <div style=" border-bottom: 1px dotted #ff8c00; margin-bottom: 5px;">
                    <span class="label pull-left label-important" style="margin-right: 5px;">SMS</span>
                    <span class="label pull-left label-important">18-11-2012 10:12 AM</span>&nbsp;
                    <p class="">Message body goes here</p>
                </div>

                <div style=" border-bottom: 1px dotted #ff8c00; margin-bottom: 5px;">
                    <span class="label pull-left label-info" style="margin-right: 5px;">twitter</span>&nbsp;
                    <span class="label pull-left label-info" style="margin-right: 5px;">18-11-2012 09:12 AM</span>&nbsp;
                    <p>lorem ipsum test writting as activity update</p>
                </div>

                <div style=" border-bottom: 1px dotted #ff8c00; margin-bottom: 5px;">
                    <span class="label pull-left label-important" style="margin-right: 5px;">SMS</span>&nbsp;
                    <span class="label pull-left label-important" style="margin-right: 5px;">18-11-2012 10:12 AM</span>&nbsp;
                    <p class="">lorem ipsum test writting as activity update for bangladesh.</p>
                </div>

                <div style=" border-bottom: 1px dotted #ff8c00; margin-bottom: 5px;">
                    <span class="label pull-left label-info" style="margin-right: 5px;">twitter</span>&nbsp;
                    <span class="label pull-left label-info">18-11-2012 10:12 AM</span>&nbsp;
                    <p>Message body goes here</p>
                </div>

                <div style=" border-bottom: 1px dotted #ff8c00; margin-bottom: 5px;">
                    <span class="label pull-left label-important" style="margin-right: 5px;">SMS</span>&nbsp;
                    <span class="label pull-left label-important">18-11-2012 10:12 AM</span>&nbsp;
                    <p class="">Message body goes here</p>
                </div>

                <div style=" border-bottom: 1px dotted #ff8c00; margin-bottom: 5px;">
                    <span class="label pull-left label-info" style="margin-right: 5px;">twitter</span>&nbsp;
                    <span class="label pull-left label-info">18-11-2012 10:12 AM</span>&nbsp;
                    <p>Message body goes here</p>
                </div>

                <div style=" border-bottom: 1px dotted #ff8c00; margin-bottom: 5px;">
                    <span class="label pull-left label-important" style="margin-right: 5px;">SMS</span>&nbsp;
                    <span class="label pull-left label-important">18-11-2012 10:12 AM</span>&nbsp;
                    <p class="">Message body goes here</p>
                </div>

                <div style=" border-bottom: 1px dotted #ff8c00; margin-bottom: 5px;">
                    <span class="label pull-left label-info" style="margin-right: 5px;">twitter</span>&nbsp;
                    <span class="label pull-left label-info">18-11-2012 10:12 AM</span>&nbsp;
                    <p>Message body goes here</p>
                </div>

                <div style=" border-bottom: 1px dotted #ff8c00; margin-bottom: 5px;">
                    <span class="label pull-left label-important" style="margin-right: 5px;">SMS</span>&nbsp;
                    <span class="label pull-left label-important">18-11-2012 10:12 AM</span>&nbsp;
                    <p class="">Message body goes here</p>
                </div>

                <div style=" border-bottom: 1px dotted #ff8c00; margin-bottom: 5px;">
                    <span class="label pull-left label-info" style="margin-right: 5px;">twitter</span>&nbsp;
                    <span class="label pull-left label-info">18-11-2012 10:12 AM</span>&nbsp;
                    <p>Message body goes here</p>
                </div>

                <div style=" border-bottom: 1px dotted #ff8c00; margin-bottom: 5px;">
                    <span class="label pull-left label-important" style="margin-right: 5px;">SMS</span>&nbsp;
                    <span class="label pull-left label-important">18-11-2012 10:12 AM</span>&nbsp;
                    <p class="">Message body goes here</p>
                </div>

                <div style=" border-bottom: 1px dotted #ff8c00; margin-bottom: 5px;">
                    <span class="label pull-left label-info" style="margin-right: 5px;">twitter</span>&nbsp;
                    <span class="label pull-left label-info">18-11-2012 10:12 AM</span>&nbsp;
                    <p>Message body goes here</p>
                </div>

                <div style=" border-bottom: 1px dotted #ff8c00; margin-bottom: 5px;">
                    <span class="label pull-left label-important" style="margin-right: 5px;">SMS</span>&nbsp;
                    <span class="label pull-left label-important">18-11-2012 10:12 AM</span>&nbsp;
                    <p class="">Message body goes here</p>
                </div>

                <div style=" border-bottom: 1px dotted #ff8c00; margin-bottom: 5px;">
                    <span class="label pull-left label-info" style="margin-right: 5px;">twitter</span>&nbsp;
                    <span class="label pull-left label-info">18-11-2012 10:12 AM</span>&nbsp;
                    <p>Message body goes here</p>
                </div>
            </div>
        </div>
    </div>



    </div>
    <script type="text/javascript">
        $(".select2").select2();
    </script>
{% endblock %}